* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

container {
  flex: 0 0 auto;
  width: 320px;
  /*height: 405px;*/
  margin: 32px;

  display: flex;
  background-size: cover;
}

page-info {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  flex: 1;
  font-size: 12px;

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 4px 16px 0px rgba(0, 0, 0, 0.25);
}

section {
  margin: 20px 16px;
}

page-info hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: #4084F3;
}

a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Page Details */

section.page summary, section.page explanation {
  display: block;
  width: 100%;
}

section.page summary {
  color: #C53929;
}

site-spacer {
  display: block;
  width: 100%;
  height: 16px;
}

/* Site Details */

permission {
  display: block;
  padding: 0;
  margin: 0;
}

permission spacer {
  height: 40px;
}

permission {
  display: flex;
  flex-direction: row;
}

permission > img:first-child {
  width: 18px;
  height: 18px;

  margin: -1px;

  display: flex;
  align-items: center;
  justify-content: center;
}

permission text {
  height: 16px;
  padding: 0px 8px;
  font-size: 14px;

  flex: 1 1 auto;
}

permission cookie-details {
  padding: 8px 8px 2px;
  margin-left: 16px;
}

permission dropdown {
  font-size: 12px;
  height: 16px;
}

permission dropdown arrow {
  /*margin-left: 8px;*/
}

permission dropdown img {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -30%;
}

permission-spacer {
  display: block;
  width: 100%;
  height: 24px;
}

permission.show-all text {
  margin-left: 16px;
}

#site-settings-link {
  display: block;
  width: 100%;
  text-align: right;
}

/* Highlight */


button {
  background: white;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 4px;
}

button:active {
  background: #F0F0F0;
}

body.highlight page-info                   { background: #FDD; }
body.highlight section                     { background: #FFF; }
body.highlight site-spacer                 { background: #FEA; }
body.highlight permission-spacer           { background: #AEF; }
body.highlight permission img              { background: #F66; }
body.highlight permission text             { background: #CFC; }
body.highlight permission cookie-details   { background: #8F8; }
body.highlight permission dropdown         { background: #AAA; }